<h2 id="when-you-see-a-stranger-panhandling-what-do-you-assume-about-that-person">When you see a stranger panhandling, what do you assume about that person?</h2>
<ul>
<li>You may assume they are unhoused, a drug addict or an alcoholic, lazy, unemployed, or suffering from a mental/physical illness.</li>
<li>You may assume this person doesn’t want to work hard and doesn’t want to get an “honest” job.</li>
<li>Maybe you think this person is “using” or “conning” generous people who give them money. You may think their panhandling is a “scam.”</li>
<li>All of your assumptions about this person are based on one behavior you observed. You don’t actually know anything about this person or their life.</li>
<li>Without knowing the person who is panhandling, you may be making a lot of negative assumptions about them and judging their situation.</li>
<li>If you were unable to hold a job for any reason, what would you do?</li>
<li>If you were unhoused, couldn’t get a job, and needed money to eat, would you be behaving any differently?</li>
</ul>
<h2 id="want-to-spend-a-little-more-time-reflecting-on-your-own-conscious-and-unconscious-biases-regarding-people-who-are-unhoused-check-out-this-resource">Want to spend a little more time reflecting on your own conscious and unconscious biases regarding people who are unhoused? Check out this resource:</h2>
<ul>
<li><a href="https://www.huffpost.com/entry/the-homeless-39-questions_b_5918736">https://www.huffpost.com/entry/the-homeless-39-questions_b_5918736</a></li>
</ul>
