What is keeping you from becoming unhoused?

You are closer to becoming homeless/unhoused than becoming a billionaire.

Privilege (e.g., cisgender, white, affluent, stably employed) plays a part in your access to housing.
If you’ve been to prison, you are 10x more likely to become unhoused.
If you have escaped from a domestically violent relationship, you may also find yourself without housing.
Many BIPOC experience landlords refusing to rent to them due to their race, leading to housing insecurity.
People without a support system are at higher risk of becoming unhoused because they cannot rely on friends and family to help them pay rent or bills or give them a place to sleep if they lose their housing.
People without good health insurance or with chronic illnesses are more likely to be unable to afford their bills, including rent - especially if an illness prevents them from working.
People without generational wealth (such as property, inheritance, or stocks) do not have these safeguards in place to prevent them from becoming unhoused

Which of these privileges do you have?

Most Americans are one severe injury or illness, one accident, or one missed paycheck away from not being able to pay our bills, which can cause housing insecurity depending on their privileges.

Want to read more? Check out some of our sources for this post:
https://mayor.dc.gov/release/mayor-bowser-releases-results-district%E2%80%99s-2020-point-time-count
https://www.brookings.edu/research/reopening-america-low-wage-workers-have-suffered-badly-from-covid-19-so-policymakers-should-focus-on-equity/
https://www.huduser.gov/portal//publications/pdf/AHS_HouseholdComposition_v2.pdf
https://www.nihcm.org/categories/the-state-of-homelessness-in-america
https://www.mayoclinicproceedings.org/article/S0025-6196(19)31008-0/fulltext
https://www.pewtrusts.org/en/research-and-analysis/blogs/stateline/2019/03/29/a-pileup-of-inequities-why-people-of-color-are-hit-hardest-by-homelessness
https://www.washingtonpost.com/business/2020/08/17/breakdown-what-living-paycheck-to-paycheck-looks-like/
https://www.prisonpolicy.org/reports/housing.html
