<h2 id="what-is-keeping-you-from-becoming-unhoused-during-the-covid-19-pandemic">What is keeping you from becoming unhoused during the COVID-19 pandemic?</h2>
<ul>
<li>Situations can change in a moment.</li>
<li>The COVID-19 pandemic has uprooted communities, caused massive layoffs and unemployment claims, and created financial nightmares for many people and families.</li>
<li>How close are you to becoming unhoused as the pandemic continues?</li>
<li>Can you still pay your rent or mortgage if you are one of millions of Americans who lost your job due to COVID-19?</li>
<li>An estimated 50% - 78% of Americans already live paycheck to paycheck and about ⅓ of Americans have no savings.</li>
<li>An eviction crisis looms once the public health emergency and the federal eviction moratorium ends.</li>
</ul>
<h3 id="want-to-read-more-check-out-some-of-our-sources-for-this-post">Want to read more? Check out some of our sources for this post:</h3>
<ul>
<li><a href="https://mayor.dc.gov/release/mayor-bowser-releases-results-district%E2%80%99s-2020-point-time-count">https://mayor.dc.gov/release/mayor-bowser-releases-results-district’s-2020-point-time-count</a></li>
<li><a href="https://www.pewresearch.org/fact-tank/2020/05/06/telework-may-save-u-s-jobs-in-covid-19-downturn-especially-among-college-graduates/">https://www.pewresearch.org/fact-tank/2020/05/06/telework-may-save-u-s-jobs-in-covid-19-downturn-especially-among-college-graduates/</a></li>
<li><a href="https://www.brookings.edu/research/reopening-america-low-wage-workers-have-suffered-badly-from-covid-19-so-policymakers-should-focus-on-equity/">https://www.brookings.edu/research/reopening-america-low-wage-workers-have-suffered-badly-from-covid-19-so-policymakers-should-focus-on-equity/</a></li>
<li><a href="https://www.huduser.gov/portal//publications/pdf/AHS_HouseholdComposition_v2.pdf">https://www.huduser.gov/portal//publications/pdf/AHS_HouseholdComposition_v2.pdf</a></li>
<li><a href="https://www.nihcm.org/categories/the-state-of-homelessness-in-america">https://www.nihcm.org/categories/the-state-of-homelessness-in-america</a></li>
<li><a href="https://www.washingtonpost.com/business/2020/08/17/breakdown-what-living-paycheck-to-paycheck-looks-like/">https://www.washingtonpost.com/business/2020/08/17/breakdown-what-living-paycheck-to-paycheck-looks-like/</a></li>
<li><a href="https://wamu.org/story/20/08/20/what-you-need-to-know-about-eviction-protections-in-d-c-maryland-and-virginia/">https://wamu.org/story/20/08/20/what-you-need-to-know-about-eviction-protections-in-d-c-maryland-and-virginia/</a></li>
<li><a href="https://www.washingtonpost.com/local/homelessness-crisis-is-expected-in-dc-when-coronavirus-emergency-ends-and-evictions-begin/2020/06/14/df52344a-acc0-11ea-9063-e69bd6520940_story.html">https://www.washingtonpost.com/local/homelessness-crisis-is-expected-in-dc-when-coronavirus-emergency-ends-and-evictions-begin/2020/06/14/df52344a-acc0-11ea-9063-e69bd6520940_story.html</a></li>
</ul>
