hat was in gentrified D.C. neighborhoods before these giant new apartment buildings?

Before the large, luxury apartment buildings, many D.C. neighborhoods had long-term residents who were primarily people of color.

D.C. is one of the most gentrified cities in the U.S.

Since 2000, D.C. has experienced the most widespread displacement of low-income residents of any major city in the U.S.

Gentrification leads to rising costs so it becomes too expensive for residents with lower incomes to stay in their neighborhoods.

Southwest D.C. was one of the first U.S. experiments in “urban renewal” (aka gentrification). Prior to the gentrification, Southwest D.C. was a neighborhood of Black working-class residents and Jewish immigrants. The gentrification of Southwest leveled 99% of the existing buildings and forced the displacement of 4,500 Black families.

In Navy Yard, about 77% of residents were identified as low income in 2000. By 2016, only 21% of the residents were considered to have low income.

Another example of “urban renewal” occurred - and is still occurring - in the D.C. neighborhood now known as NoMa (north of Massachusetts Avenue). Prior to the high-rise buildings containing expensive apartments and condos, offices, and hotels in and around NoMa, the area had fewer residents, more families, and a larger percentage of residents that were people of color.
In 1970, 86% of residents in the NoMa area were Black and 52% of the families were classified as low income.
By 2015, the population had almost doubled and the number of housing units had more than doubled. In the gentrified part of NoMa closer to Massachusetts Avenue, 62% of residents are now primarily young professionals without children and are white or Asian. The poverty rate in this area dropped to 14% in 2015 as lower income residents moved out and higher income residents moved into the area.

What happens to the former, lower income residents of these changing, gentrifying neighborhoods? Some get pushed to other neighborhoods where housing is cheaper. Others begin experiencing housing insecurity because they can no longer afford their rising property taxes or rising rents. Housing insecurity can quickly turn into becoming unhoused.

Want to read more about gentrification and displacement in D.C.? Check out some of our sources for this post:
https://www.law.umn.edu/sites/law.umn.edu/files/metro-files/american_neighborhood_change_in_the_21st_century_-_full_report_-_4-1-2019.pdf
https://www.law.umn.edu/sites/law.umn.edu/files/metro-files/washingtondc_incomechange_report.pdf
https://www.washingtonpost.com/local/in-the-district-gentrification-means-widespread-displacement-report-says/2019/04/26/950a0c00-6775-11e9-8985-4cf30147bdca_story.html
https://www.smithsonianmag.com/smithsonian-institution/new-show-about-neighborhoods-facing-gentrification-offers-cautionary-tale-180969032/
https://www.nytimes.com/2014/11/19/realestate/commercial/washington-dc-refreshes-a-waterfront.html
https://whosedowntown.wordpress.com/urban-renewal-the-story-of-southwest-d-c/#_ftn3
https://www.dcpolicycenter.org/publications/once-upon-time-noma/
