<h2 id="can-you-search-for-employment-without-a-device-or-internet-access">Can you search for employment without a device or Internet access?</h2>
<h3 id="think-for-a-moment-about-the-last-time-you-applied-for-a-job">Think for a moment about the last time you applied for a job.</h3>
<ul>
<li>How did you find the job opening?</li>
<li>How did you update your resume?</li>
<li>How did you send your resume to the employer?</li>
<li>How did the employer contact you for a job interview (phone, email, etc.)?</li>
<li>How did you print out your resume?</li>
<li>While some job opportunities are spread via word of mouth, many websites like Indeed, Monster, LinkedIn, and even Facebook, post about job openings. In order to find and apply for these jobs, you must have a device and a stable Internet connection.</li>
<li>Do you have enough data and/or access to WiFi to search for and apply to jobs?</li>
<li>Many people who are unhoused have infrequent and interrupted access to WiFi and limited data. Some people who are unhoused do not have phones with Internet access at all.</li>
</ul>
<h3 id="let’s-say-you-successfully-apply-for-a-job.">Let’s say you successfully apply for a job.</h3>
<ul>
<li>If you are unable to access the Internet for several days, you may miss an email invitation for a job interview.</li>
<li>You may have just missed your chance to get the job.</li>
</ul>
<h3 id="let’s-say-you-successfully-apply-for-a-job.">During the COVID-19 pandemic, public libraries have strict rules about who can access library computers and for how long.</h3>
<ul>
<li>Patrons must have a reason for using the library computers. You cannot come to the library to solely browse the Internet during the COVID-19 pandemic.</li>
<li>Patrons can only access computers for 45 minutes.</li>
<li>Patrons will not be permitted to enter the library without a mask, which may not be readily available to everyone who is unhoused.</li>
</ul>
<p></p>
<p></p>
<p><strong>With all of these barriers for people who are unhoused and unemployed, think about how difficult it could be to find a job to move towards saving money and getting an apartment.</strong></p>
<h3 id="want-to-read-more-check-out-some-of-our-sources-for-this-post">Want to read more? Check out some of our sources for this post:</h3>
<ul>
<li><a href="https://www.dclibrary.org/reopen">https://www.dclibrary.org/reopen</a></li>
<li><a href="https://nationalhomeless.org/issues/economic-justice/">https://nationalhomeless.org/issues/economic-justice/</a></li>
<li><a href="https://aspe.hhs.gov/report/toward-understanding-homelessness-2007-national-symposium-homelessness-research-employment-and-income-supports-homeless-people/barriers-work-faced-homeless-people">https://aspe.hhs.gov/report/toward-understanding-homelessness-2007-national-symposium-homelessness-research-employment-and-income-supports-homeless-people/barriers-work-faced-homeless-people</a></li>
</ul>
