Why are rich people admired and given more respect than people who are poor or unhoused?

Many Americans admire and respect wealthy people. Why?

We often think of wealthy people as successful. Success is an easy thing to admire and respect.

Many Americans negatively judge and have little respect for people who are poor or unhoused. Why?

We often think of poverty as a personal failure - that someone is poor or unhoused because they have made poor life choices. It is harder to respect and admire people who you think have failed and have made poor choices.

We need to understand how the following problems are structural causes of poverty:
Low wages
High cost of living
Inadequate and expensive medical care
Systemic racism
Domestic violence
History of incarceration

If we understand these structural causes, we will no longer view poverty, housing insecurity, and living in encampments as personal failures, and we will then be able to understand that someone can be working hard and making all of the “right” choices but still be poor and/or unhoused.

If we begin to understand the structural causes of poverty, we can stop blaming people for being poor or being unhoused.

Being poor and being unhoused are not personal failures - they are societal failures.

If we start to reframe our thinking as to what causes our neighbors to become unhoused, we will be more respectful of all people, regardless of their economic status

Wealth and economic status should not determine who deserves our respect and who does not.

Want to read more? Check out some of our sources for this post:
https://theconversation.com/why-poverty-is-not-a-personal-choice-but-a-reflection-of-society-79552
https://www.psychologytoday.com/us/blog/pulling-through/202003/the-lazy-poor-or-the-entitled-rich
