Are shelters and food banks sufficient services for people who are unhoused?

Shelters and food banks alone are not sufficient support for our neighbors who are unhoused.

Often, shelters and food banks are designed for emergency situations.
They are not long-term solutions for the underlying causes of housing insecurity.

Shelters provide a bed to sleep in at night but a shelter is not a house where someone can take ownership and feel comfortable and safe.

What are some underlying causes of housing insecurity that an emergency shelter or food bank program cannot solve?
Low wages
High cost of living--including expensive housing
Inadequate support for medical conditions
Systemic and structural racism
Domestic violence
History of incarceration

What are some long-term solutions to address these underlying causes?
Truly affordable housing
Raising the minimum wage
Ending the criminalization of homelessness (such as ticketing or arresting people for panhandling or sleeping in public spaces)
By criminalizing and arresting people who are poor and/or unhoused, it only makes it harder for these same people to secure housing in the future.
Expansion of assistance and housing programs without stipulations and requirements of sobriety or full-time employment
Expansion of Medicaid and Medicare
Promotion and expansion of antiracist policies that focus on racial justice and equity in employment, housing, healthcare, and education to prevent the structural racism that oppresses people of color and increases susceptibility to housing insecurity and becoming unhoused
Expansion of policies that prioritize stable housing for formerly incarcerated people

Want to read more? Check out some of our sources for this post:
https://endhomelessness.org/ending-homelessness/solutions/
https://dhs.dc.gov/service/solutions-ending-homelessness
https://ich.dc.gov/sites/default/files/dc/sites/ich/page_content/attachments/ICH-StratPlan2.9-Web.pdf
