<h2 id="are-shelters-and-food-banks-sufficient-services-for-people-who-are-unhoused">Are shelters and food banks sufficient services for people who are unhoused?</h2>
<p>Shelters and food banks alone are not sufficient support for our neighbors who are unhoused.</p>
<p>Often, shelters and food banks are designed for emergency situations.<br>
They are not long-term solutions for the underlying causes of housing insecurity.</p>
<p>Shelters provide a bed to sleep in at night but a shelter is not a house where someone can take ownership and feel comfortable and safe.</p>
<h3 id="what-are-some-underlying-causes-of-housing-insecurity-that-an-emergency-shelter-or-food-bank-program-cannot-solve">What are some underlying causes of housing insecurity that an emergency shelter or food bank program cannot solve?</h3>
<ul>
<li>Low wages</li>
<li>High cost of living–including expensive housing</li>
<li>Inadequate support for medical conditions</li>
<li>Systemic and structural racism</li>
<li>Domestic violence</li>
<li>History of incarceration</li>
</ul>
<h3 id="what-are-some-long-term-solutions-to-address-these-underlying-causes">What are some long-term solutions to address these underlying causes?</h3>
<ul>
<li>Truly affordable housing</li>
<li>Raising the minimum wage</li>
<li>Ending the criminalization of homelessness (such as ticketing or arresting people for panhandling or sleeping in public spaces)</li>
<li>By criminalizing and arresting people who are poor and/or unhoused, it only makes it harder for these same people to secure housing in the future.</li>
<li>Expansion of assistance and housing programs without stipulations and requirements of sobriety or full-time employment</li>
<li>Expansion of Medicaid and Medicare</li>
<li>Promotion and expansion of antiracist policies that focus on racial justice and equity in employment, housing, healthcare, and education to prevent the structural racism that oppresses people of color and increases susceptibility to housing insecurity and becoming unhoused</li>
<li>Expansion of policies that prioritize stable housing for formerly incarcerated people</li>
</ul>
<h3 id="want-to-read-more-check-out-some-of-our-sources-for-this-post">Want to read more? Check out some of our sources for this post:</h3>
<ul>
<li><a href="https://endhomelessness.org/ending-homelessness/solutions/">https://endhomelessness.org/ending-homelessness/solutions/</a></li>
<li><a href="https://dhs.dc.gov/service/solutions-ending-homelessness">https://dhs.dc.gov/service/solutions-ending-homelessness</a></li>
<li><a href="https://ich.dc.gov/sites/default/files/dc/sites/ich/page_content/attachments/ICH-StratPlan2.9-Web.pdf">https://ich.dc.gov/sites/default/files/dc/sites/ich/page_content/attachments/ICH-StratPlan2.9-Web.pdf</a></li>
</ul>
