Can you prepare for interviews and for the workday without access to a shower and laundry facilities?

Lack of access to a shower and to a washing machine are potential barriers for people who are unhoused to get and keep a job.

Think for a moment about the last time you interviewed for a job. What clothes did you wear? Were you able to shower and groom before the interview?

Are you able to shower and wash your clothes before each day of work?

Many people who are unhoused do not have access to clothing that is appropriate for an interview or for the workplace, nor do they have access to a bathroom to shower and groom before an interview or day of work.

With these barriers, think about how difficult it may be to find and keep a job in order to move towards saving money and getting an apartment.

Want to read more about barriers to employment for people who are unhoused? Check out some of our sources for this post:
https://nationalinitiatives.issuelab.org/resource/populations-experiencing-homelessness-diverse-barriers-to-employment-and-how-to-address-them.html
https://www.ncbi.nlm.nih.gov/pmc/articles/PMC5580630/ 
