<h2 id="can-you-secure-a-job-and-show-up-to-work-every-day-on-time-without-dependable-transportation">Can you secure a job and show up to work every day on time without dependable transportation?</h2>
<p>Usually not.</p>
<p>Think about your last interview or your most recent day at work. How did you travel to that interview or to your job?</p>
<p>While many people can take public transit or drive to a job interview or to their job, a person who is unhoused may need to save money to travel by public transit. If they don’t have the money for public transit, they may need to walk many miles just to make it to work.</p>
<p>What if it is raining or snowing and you have to get to work, but don’t have enough money for bus fare? Your job is several miles away. How will you show up to work on time, ready to work, showered, and in clean clothes?</p>
<p>With these barriers, think about how difficult it may be to find and keep a job in order to move towards saving money and getting an apartment.</p>
<h3 id="want-to-read-more-check-out-some-of-our-sources-for-this-post">Want to read more? Check out some of our sources for this post:</h3>
<ul>
<li><a href="https://nationalhomeless.org/issues/economic-justice/">https://nationalhomeless.org/issues/economic-justice/</a></li>
<li><a href="https://nationalinitiatives.issuelab.org/resource/populations-experiencing-homelessness-diverse-barriers-to-employment-and-how-to-address-them.html">https://nationalinitiatives.issuelab.org/resource/populations-experiencing-homelessness-diverse-barriers-to-employment-and-how-to-address-them.html</a></li>
<li><a href="https://aspe.hhs.gov/report/toward-understanding-homelessness-2007-national-symposium-homelessness-research-employment-and-income-supports-homeless-people/barriers-work-faced-homeless-people">https://aspe.hhs.gov/report/toward-understanding-homelessness-2007-national-symposium-homelessness-research-employment-and-income-supports-homeless-people/barriers-work-faced-homeless-people</a></li>
</ul>
