<h2 id="do-drug-users-deserve-a-safe-place-to-live">Do drug users deserve a safe place to live?</h2>
<p>Yes. All people deserve a safe place to live, regardless of who they are and what they do.</p>
<p>Only 18.4% of adults who are unhoused in D.C. report having substance use problems.</p>
<p>People who are unhoused with a history of substance use - and especially those with drug convictions on their record - face additional barriers to affordable housing.</p>
<p>Housing assistance programs, like voucher programs and HUD-assisted housing limit the type of support available to people with substance use problems.</p>
<p>Some programs may completely deny people with substance use problems.</p>
<p>Without a safe place to live, our neighbors who are unhoused and using substances often find it difficult to address their substance use, whether that be managing their use or getting clean.</p>
<p>Without a safe place to live, the stress of housing insecurity can also lead to new substance use, an increase in substance use, or relapse.</p>
<h3 id="want-to-read-more-check-out-our-sources-for-this-post">Want to read more? Check out our sources for this post:</h3>
<ul>
<li><a href="https://www.cbpp.org/research/housing/meeting-the-housing-needs-of-people-with-substance-use-disorders">https://www.cbpp.org/research/housing/meeting-the-housing-needs-of-people-with-substance-use-disorders</a></li>
<li><a href="https://mayor.dc.gov/release/mayor-bowser-releases-results-district%E2%80%99s-2020-point-time-count">https://mayor.dc.gov/release/mayor-bowser-releases-results-district’s-2020-point-time-count</a></li>
</ul>
