<h2 id="why-are-people-who-can’t-afford-a-house-criminalized">Why are people who can’t afford a house criminalized?</h2>
<p>In the U.S. poverty itself is often treated as a criminal offense.</p>
<ul>
<li>
<p>Minor offenses such as unpaid traffic tickets, a broken taillight, or sleeping outside are often rooted in poverty.</p>
</li>
<li>
<p>People are ticketed and fined for “offenses” that exist because of the person’s inability to pay to solve the problem.</p>
</li>
</ul>
<p>In the U.S. we often think of poverty and homelessness as personal failures. We are biased and prejudiced against people who are poor or unhoused and people who rely on public assistance programs such as welfare or subsidized housing.</p>
<ul>
<li>
<p>Ask yourself: Why are people only “deserving” of public assistance (including public housing) if they have a clean record with no past criminal charges and/or no history of substance use problems?</p>
<ul>
<li>
<p>When applying for welfare, applicants are often fingerprinted and drug tested.</p>
</li>
<li>
<p>Eligibility for public housing and housing vouchers often is restricted or denied for people with a criminal record (including misdemeanors) or for people with a prior lease violation.</p>
<ul>
<li>People who have been to prison are 10x more likely to become unhoused.</li>
</ul>
</li>
<li>
<p>These are massive barriers to housing and public assistance for returning citizens and people struggling with substance use.</p>
</li>
</ul>
</li>
<li>
<p>Nothing about seeking help should be criminalized, nor restrictive as to who is deserving.</p>
<ul>
<li>According to the United Nations Universal Declaration of Human Rights: “Everyone has the right to a standard of living adequate for the health and well-being of himself and of his family, including food, clothing, housing and medical care and necessary social services”.</li>
</ul>
</li>
<li>
<p>Ask yourself: Why is it a crime that someone is unable to afford housing and subsequently must sleep in a tent? What about the act of sleeping outside is a crime?</p>
<ul>
<li>
<p>Police enforce laws against panhandling, public urination, or sleeping in public spaces. This can include ticketing or arresting the “offender” who may have no other choice but to panhandle in order to buy some food, urinate outside due to lack of public toilets, or sleep in a tent or on a bench in a park.</p>
</li>
<li>
<p>Local authorities carry out encampment “cleanups” that displace people who are unhoused and staying in encampments.</p>
</li>
<li>
<p>This is criminalization of homelessness.</p>
</li>
</ul>
</li>
<li>
<p>Nothing about being unhoused is a crime. Nothing about trying to stay warm and get a decent night’s sleep is a crime.</p>
<ul>
<li>Housing is a human right.</li>
</ul>
</li>
</ul>
<p>And yet, we treat people who are poor and people who are unhoused as if they are criminals and a menace to society.</p>
<p><strong>We must examine our own biases and shift away from criminalization to focus on the societal failures that have caused poverty and homelessness.</strong></p>
<p><strong>Poverty and homelessness are caused by the high cost of living, low wages, and the lack of affordable housing.</strong></p>
<h3 id="want-to-read-more-check-out-some-of-our-sources-for-this-post">Want to read more? Check out some of our sources for this post:</h3>
<ol>
<li>
<p><a href="https://ips-dc.org/the-poor-get-prison-the-alarming-spread-of-the-criminalization-of-poverty/">https://ips-dc.org/the-poor-get-prison-the-alarming-spread-of-the-criminalization-of-poverty/</a></p>
</li>
<li>
<p><a href="https://www.prisonpolicy.org/reports/housing.html">https://www.prisonpolicy.org/reports/housing.html</a></p>
</li>
<li>
<p><a href="https://ips-dc.org/wp-content/uploads/2015/03/IPS-The-Poor-Get-Prison-Final.pdf">https://ips-dc.org/wp-content/uploads/2015/03/IPS-The-Poor-Get-Prison-Final.pdf</a></p>
</li>
<li>
<p><a href="https://www.un.org/en/universal-declaration-human-rights/">https://www.un.org/en/universal-declaration-human-rights/</a></p>
</li>
<li>
<p><a href="https://dcist.com/story/20/10/15/dc-full-encampment-cleanups-against-cdc-guidance-homelessness/">https://dcist.com/story/20/10/15/dc-full-encampment-cleanups-against-cdc-guidance-homelessness/</a></p>
</li>
<li>
<p><a href="https://theconversation.com/why-poverty-is-not-a-personal-choice-but-a-reflection-of-society-79552">https://theconversation.com/why-poverty-is-not-a-personal-choice-but-a-reflection-of-society-79552</a></p>
</li>
<li>
<p><a href="https://www.psychologytoday.com/us/blog/pulling-through/202003/the-lazy-poor-or-the-entitled-rich">https://www.psychologytoday.com/us/blog/pulling-through/202003/the-lazy-poor-or-the-entitled-rich</a></p>
</li>
</ol>
