
What words do you use to talk about people who are unhoused?

The language we use to talk about people can be disrespectful and/or negative. Or, it can show respect and empathy for people as fellow human beings.

The word “homeless” has a lot of negativity associated with it, implying that someone who doesn’t have a home is “less than” someone who does have a home.

Using phrases like “homeless people” or “bums” focuses on one small detail of that person’s current situation before recognizing the humanity of that individual.

When we want to talk about people in respectful and empathetic ways, we should use “Person First Language.” This language emphasizes the person first, before the descriptor. For example, “my son who has autism” instead of “my autistic son.”

Instead of using the phrase “a homeless person”, we should say “someone who is unhoused” or “a person experiencing homelessness.”

Let’s recognize the humanity of people who are unhoused and use respectful language.

Want to learn more about People First Language and respectful language to describe people who are unhoused? Check some of our sources for this post:
https://askearn.org/topics/retention-advancement/disability-etiquette/people-first-language/
 http://blog.oslserves.org/?p=38
