<h2 id="when-you-picture-someone-who-is-unhoused-what-does-that-person-look-like-in-your-mind">When you picture someone who is unhoused, what does that person look like in your mind?</h2>
<p>Let’s compare what you have just imagined in your mind to what was found in the January 2020 count and survey of people who were unhoused in D.C.</p>
<h3 id="d.c.-statistics-in-order-of-prevalencedominance-by-a-specific-subpopulation">D.C. Statistics, in order of prevalence/dominance by a specific subpopulation:</h3>
<p>Black people who are unhoused: 5,551 people (87% of the unhoused population)</p>
<p>Identify as male (adults only): 3,810 (77% of adults who are unhoused)</p>
<p>Unaccompanied/living unhoused without a family: 3,935 adults (62% of the unhoused population), 12 unaccompanied minors (&lt;1% of the unhoused population)</p>
<p>Adults who are unhoused and have previously lived in an institutional setting (which includes incarceration): 1,994 adults who are unhoused (40% of adults who are unhoused)</p>
<ul>
<li>Returning citizens in the United States are almost 10 times more likely to be unhoused than the general public.</li>
</ul>
<p>Adults who are chronically unhoused: 1,695 adults who are unhoused are experiencing chronic homelessness (34% of all adults who are unhoused; 42% of unaccompanied adults who are unhoused and 6% of adults who are unhoused with their families)</p>
<ul>
<li>Chronic homelessness is defined by HUD as: “persons who have experienced homelessness for a year or more, or who have had four or more episodes of homelessness in three years (which total at least 12 months), and who are living with a disabling condition. Families are considered to be experiencing chronic homelessness if at least one adult person in the household meets the definition of chronic homelessness.”</li>
</ul>
<p>Unhoused families: 768 families comprised of 1,011 adults (16% of the unhoused population) and 1,432 children (22% of the unhoused population)</p>
<p>Adults who are unhoused and have experienced domestic violence: 1,084 adults (22% of adults who are unhoused)</p>
<p>Adults who are unhoused and diagnosed with/experiencing serious mental illness (excluding substance use disorder): 1,004 adults (20% of adults who are unhoused)</p>
<p>Adults who are unhoused and are employed: 920 adults (19% of adults who are unhoused)</p>
<p>Adults who are unhoused and have a history of substance use disorder: 910 adults (18% of adults who are unhoused)</p>
<p>Adults who are unhoused and diagnosed with/experiencing chronic health problems (such as asthma, hypertension, diabetes): 900 adults who are unhoused (18% of adults who are unhoused)</p>
<p>Adults who are unhoused and diagnosed with/experiencing physical disability: 831 adults who are unhoused (17% of adults who are unhoused)</p>
<p>Adults who are unhoused and diagnosed with/experiencing serious mental illness and substance use disorder: 539 adults (11% of adults who are unhoused)</p>
<p>Veterans who are unhoused: 309 adults (6% of adults who are unhoused)</p>
<h3 id="want-to-read-more-about-the-unhoused-populations-in-d.c.-check-out-our-sources-for-this-post">Want to read more about the unhoused populations in D.C.? Check out our sources for this post:</h3>
<ul>
<li><a href="https://mayor.dc.gov/release/mayor-bowser-releases-results-district%E2%80%99s-2020-point-time-count">https://mayor.dc.gov/release/mayor-bowser-releases-results-district’s-2020-point-time-count</a></li>
<li><a href="https://www.legalclinic.org/wp-content/uploads/2019/10/Fact-Sheet-on-Homelessness-and-Housing-Instability-in-DC-1.pdf">https://www.legalclinic.org/wp-content/uploads/2019/10/Fact-Sheet-on-Homelessness-and-Housing-Instability-in-DC-1.pdf</a></li>
<li><a href="https://www.prisonpolicy.org/reports/housing.html">https://www.prisonpolicy.org/reports/housing.html</a></li>
</ul>
