<h2 id="who-deserves-a-safe-place-to-live">Who deserves a safe place to live?</h2>
<h4 id="the-united-nations-recognizes-housing-as-a-human-right.">The United Nations recognizes housing as a human right.</h4>
<h4 id="everyone-deserves-a-safe-and-comfortable-place-to-live.">Everyone deserves a safe and comfortable place to live.</h4>
<h4 id="housingisahumanright">#housingisahumanright</h4>
<h3 id="want-to-read-more-check-out-our-source-for-this-post">Want to read more? Check out our source for this post:</h3>
<ul>
<li><a href="https://www.americanbar.org/groups/crsj/publications/human_rights_magazine_home/vol--44--no-2--housing/adequate-housing-is-a-human-right/">https://www.americanbar.org/groups/crsj/publications/human_rights_magazine_home/vol--44--no-2--housing/adequate-housing-is-a-human-right/</a></li>
</ul>
