<h2>Why do some of your neighbors live in tents?</h2>
<ul>
<li>Washington, D.C. has one of the highest rates of people who are unhoused in any city in the United States.</li>
<li>D.C. is one of the most expensive cities in the United States, and rental prices have been steadily increasing for the last 10 years.</li>
<li>People who are unhoused often have become displaced because of low wages and high rents.</li>
<li>According to the 1981 Census and most modern day guidelines, Americans should spend no more than 30% of their income on housing.</li>
<li>To meet this goal of spending only 30% of their income on housing, a person working full time in D.C. at the minimum wage of $15/hour would need to work 159 hours a week to afford the average rent for a two-bedroom apartment.</li>
<li>On average, a two-bedroom apartment in D.C. goes for $3100/month.</li>
<li>Now more than ever, paying rent and bills is more difficult because of the COVID-19 pandemic. If people aren’t working, they cannot pay their bills, including their rent. Even with the current moratorium on evictions in D.C. until at least December 31, 2020, housing advocates are expecting a housing crisis with many more D.C. residents becoming unhoused once that moratorium is lifted.</li>
</ul>
<h3>Want to read more? Check out some of our sources for this post:</h3>
<ul>
<li><a href="https://www.statista.com/statistics/727847/homelessness-rate-in-the-us-by-state/">link name</a></li>
<li><a href="https://www.businessinsider.com/photos-homelessness-states-worst-crises-2018-11#washington-dc-ranks-highest-according-to-our-analysis-even-though-its-homeless-population-declined-between-2017-and-2018-1">link name</a></li>
<li><a href="https://dc.curbed.com/2019/7/30/20747273/dc-apartment-prices-two-bedrooms-renting-income">link name</a></li>
<li><a href="https://www.washingtonpost.com/local/want-to-rent-in-dc-without-being-cost-burdened-a-household-needs-132857-a-year-report-says/2019/07/31/897ed0c8-b2f2-11e9-8f6c-7828e68cb15f_story.html">link name</a></li>
<li><a href="https://www.bls.gov/eag/eag.dc.htm">link name</a></li>
<li><a href="https://wamu.org/story/20/08/20/what-you-need-to-know-about-eviction-protections-in-d-c-maryland-and-virginia/">link name</a></li>
<li><a href="https://www.washingtonpost.com/local/homelessness-crisis-is-expected-in-dc-when-coronavirus-emergency-ends-and-evictions-begin/2020/06/14/df52344a-acc0-11ea-9063-e69bd6520940_story.html">link name</a></li>
<li><a href="https://oag.dc.gov/blog/know-your-rights-tenants-and-covid-19">link name</a></li>
<li><a href="https://mayor.dc.gov/release/mayor-bowser-issues-mayor%E2%80%99s-order-extending-public-health-emergency">link name</a></li>
<li><a href="https://www.census.gov/housing/census/publications/who-can-afford.pdf">link name</a></li>
